<% provide(:title, 'About') %>
<div class="row">
  <h1>About Adrenaline Slacklines</h1>


  <h2>What We Do</h2>
  <p>Adrenaline Slacklines is devoted to
  spreading slacklining across the globe by providing
  complete and easy to use Slacklining kits. It’s simple,
  we want you and everybody else to enjoy the fun of
  slacklining.</p>

  <h2>How We Do It</h2>
  <p>Our specialized Adrenaline Kits
  contain everything you need in simple-set-up package
  to get you on a slackline in no time.</p>

  <h2>What You Need</h2>
  <p>An Adrenaline Kit, simple as that.
  Bring some friends, bring your i-pods, and make it an
  event. Pretty soon you will all be addicted.
  Slack on an Adrena-Line, not in school.</p>
</div>

