<% provide(:title, 'About') %>
<div class="row">
  <div class="small-12 large-12 columns">
    <h1>About Adrenaline Slacklines</h1>
  </div>
  <div class="small-12 large-8 columns">

    <h3>What We Do</h3>
    <p>Adrenaline Slacklines is devoted to
    spreading slacklining across the globe by providing
    complete and easy to use Slacklining kits. It’s simple,
    we want you and everybody else to enjoy the fun of
    slacklining.</p>

    <h3>How We Do It</h3>
    <p>Our specialized Adrenaline Kits
    contain everything you need in simple-set-up package
    to get you on a slackline in no time.</p>

    <h3>What You Need</h3>
    <p>An Adrenaline Kit, simple as that.
    Bring some friends, bring your i-pods, and make it an
    event. Pretty soon you will all be addicted.
    Slack on an Adrena-Line, not in school.</p>
  </div>

  <div class="small-12 large-4 columns">
    <h4>Get Started</h4>

    <div class="small-12 columns product-image">
      <img src="http://d1bjc4ympi20vo.cloudfront.net/beginner-kit-clear.jpg" alt="Adrenaline Begginner Kit">
    </div>

    <div class="small-12 columns item-details">
      <%= link_to "Beginner Slacklining Kit", "#", class: "store-link" %>
      <h4 class="product-description"> Line, Anchors, Carabiners, & Bag</h4>
      <h3 class="price">$77.50</h3>
      <%= link_to "Buy Now", "#", class: "buy-now" %>
    </div>

    <div class="small-12 columns product-image">
      <img src="http://d1bjc4ympi20vo.cloudfront.net/as-carabiner-clear.jpg" alt="Adrenaline Begginner Kit">
    </div>
    <div class="small-12 columns item-details bottom-column">
      <%= link_to "Black Aluminum Carabiner", "#", class: "store-link" %>
      <h4 class="product-description">Cold forged & economically priced</h4>
      <h3 class="price">$10.00</h3>
      <%= link_to "Buy Now", "#", class: "buy-now" %>
    </div>

  </div>
</div>

