<% provide(:title, 'Athletes') %>

<div class="row">
  <h1>Athletes</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, culpa, reiciendis, eius adipisci blanditiis quos ad autem consequatur dolore ex voluptatum numquam officiis atque tempore laudantium cum sed unde quas!</p>
  <%= link_to "Contact Us", '#', class: 'blue-button center-button' %>
</div>

<div class="row">
  <div class="large-5 columns">
    <img class="body-image" src="http://d1bjc4ympi20vo.cloudfront.net/athletics.jpg" alt="Adrenaline Slacklines">
  </div>
  <div class="large-7 columns">
    <h3>Lorem Ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, atque, eveniet, aspernatur placeat voluptate quibusdam unde nam sapiente quae autem eaque ea rerum recusandae praesentium architecto maiores debitis modi tenetur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, eveniet quas neque quibusdam quidem laborum inventore expedita optio autem natus velit fugiat voluptates sapiente ducimus suscipit! Expedita, officiis dolore porro!</p>
  </div>
</div>

<div class="row">
  <div class="large-7 columns">
    <h3>Dolor Sit</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, atque, eveniet, aspernatur placeat voluptate quibusdam unde nam sapiente quae autem eaque ea rerum recusandae praesentium architecto maiores debitis modi tenetur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tempore quae reiciendis similique quas blanditiis. Qui, magnam unde officia explicabo reiciendis porro repellendus dolorem distinctio! Perspiciatis ipsam amet error officiis.</p>
  </div>
  <div class="large-5 columns">
    <img class="body-image" src="http://d1bjc4ympi20vo.cloudfront.net/athletics2.jpg" alt="Adrenaline Slacklines">
  </div>
</div>

<div class="row">
  <%= link_to "Contact Us", '#', class: 'blue-button center-button' %>
</div>
