<% provide(:title, "FAQ's") %>

<div class="row small-12 large-12">
  <h1 class="title">Frequently Asked Questions</h1>
</div>

<div class="row small-12 large-12" id="clear">
  <h3>General Questions</h3>

  <h5 class="question">What is Slacklining?</h5>
  <p class="answer">Slacklining is a balancing sport consisting of a special rope/webbing attached between to two sturdy objects (usually trees) 20-50 feet apart. Rope walking, in all its forms, has been around for a countless number of years. However, the emergence of authentic slacklining began in the early 1980’s in California and is generally attributed to a couple of rock climbers who created the sport. The exact origin is unknown, but what began as “something to do” in between rock-climbing sessions grew into its own sport. Soon enough the slacklining bandwagon began. Many think slacklining is synonymous with tight rope walking, however, in the sport of slacklining the rope/webbing is not as taut as in tight-roping. Instead, the tautness of the webbing is variable and the control is all under the hands of the slackliners. Usually, slacklines are very dynamic almost similar to a trampoline and the webbing is flat which prevents the foot from rolling off of the webbing during usage. There are a wide variety of types of slacklining ranging from waterlining, urbanlining, tricklining, highlining all the way to yogalining. The difference between these types of slacklining is attributed to the area (environment)  in which the slackline is set up in, the thickness of the webbing used which affects the stretch and bounce of the slackline, and the tautness of the slacklining set up based on the tensioning system and the desired set up. The webbing is tightened using one of many tensioning systems via 3-6 carabiners. Adrenaline Slacklines sells kits with 4 carabiners, three for the tensioning system and one for one of the two anchors. See media tab for an in-depth explanation of set up.</p>

  <h5 class="question">How do I Properly Setup a Slackline?</h5>
  <p class="answer">There are a wide variety of methods to use when setting up a slackline. The system that Adrenaline Slacklines endorses, is via four carabiners. Three carabiners for the tensioning system and one for the anchor. See the Download Instruction Manual Here for diagrams and charts with detailed explanations.</p>


  <h5 class="question">Where Are the Best Locations to Setup My Slackline?</h5>
  <p class="answer">Again, depending on the equipment you have the optimum locations for slackline setup varies. You can set up a highline (in between two peaks for example), a waterline (over water), a trickline, and also a yogaline etc. If you decide to anchor between two trees please protect the tree by putting cardboard or something more durable in between the webbing and the tree. The basic Adrenaline Slackline kit will entail 70 feet of premium Adrenaline webbing (includes two 10 foot anchors which are used to station the slackline), four 100% steel non-locking black carabiners, and a black drawstring carry-pack with an Adrenaline logo on the back. E-mail us or visit the website if you have more questions.</p>

  <h5 class="question">What Do I Do if I'm a Beginner?</h5>
  <p class="answer">Watch a lot of videos online, check out our quick “How to Slackline Guide”, and keep practicing! Your leg will tremble the first time you step on webbing. This is normal…it happens to every single person their first time. Your body will naturally learn to stop the tremble if you give it an hour or two. It’s not easy at first, but then again what else is perfectly easy the first time you try it. Just keep at it and you’ll be walking the line in no time.</p>

</div>

<div class="row small-12 large-12" id="clear">
  <h3>Website</h3>


  <h5 class="question">What if I can’t find what I’m looking for in the store?</h5>
  <p class="answer">Adrenaline Slacklines is a start up company and is slowly gaining momentum. We plan on having a full set of slackline accessories in the near-future. In the meantime e-mail us with what you are looking for and we will help you get started/on the right track.</p>

  <h5 class="question">If there is an event near me, how can I notify Adrenaline Slacklines?</h5>
  <p class="answer">Go ahead and e-mail us at <a href="mailtosponsorship@adrenalineslacklines.com:">sponsorship@adrenalineslacklines.com</a> and we will work with you to sponsor the event or to make an appearance.</p>


  <h5 class="question">Is there a step by step instruction on how to set up the slackline using four carabiners?</h5>
  <p class="answer">Of course, check out the media tab at the top of the home page and you will find some pictures with a description on setting up the 3-carabiner tensioning system plus a fourth carabiner for the anchor.</p>
</div>

<div class="row small-12 large-12" id="clear">
  <h3>Business and Sponsorship</h3>
  <h5 class="question">How can I get sponsored by Adrenaline Slacklines?</h5>
  <p class="answer">If you are interested in becoming sponsored by Adrenaline Slacklines please send us an e-mail at sponsorship@adrenalineslacklines.com with a quick biography of yourself, what you would bring to the Adrenaline Slacklining Team, and lastly attaching a video of yourself slacklining is preferred. Good Luck!</p>

  <h5 class="question">I am another company and am interested in working with Adrenaline Slacklines, who can I contact?</h5>
  <p class="answer">We would love to hear what you have to say! Go ahead and send an e-mail our way with your information.</p>

</div>

<div class="row small-12 large-12" id="clear">
  <h3>Product</h3>

  <h5 class="question">How Long Will My Slackline Last?</h5>
  <p class="answer">The lifespan of a slackline depends on the method of its use and the tensioning system used. Habitual use of a slackline should last it anywhere from 6 – 18 months before a new slackline is recommended. Again, if you use your Adrenaline line with tighter tensioning systems (tricks etc) the line will most likely experience wear and tear sooner than if you used your line for physical therapy or yoga (which does not involve as much bouncing etc). Adrenaline Slacklines rates the break tension of its slacklines @ approximately 2400 lbs, this is a conservative tension break and for the more curious, here is a quick summary from a tension break system that was performed on our adrenaline lines.</p>


  <h5 class="question">Can I Return my Adrenaline Slackline Kit?</h5>
  <p class="answer">Yes. We do accept returns, however, we do not accept returns if the kit has been opened, unless there is a company defect with the product. E-mail: returns@adrenalineslacklines.com for more information.</p>


  <h5 class="question">Can I Buy More Webbing Without the Kit?</h5>
  <p class="answer">Yes, you can purchase our high quality hybrid Adrenaline Slackline webbing by the foot for $0.45 per foot. You can see the options for this under the store section of the website.</p>


  <h5 class="question">Can I Purchase Carabiners Separately?</h5>
  <p class="answer">Yes, you may purchase carabiners separately for an amazingly low price of $8 per carabiner. Our all black carabiners are 100% steel and will do the job for you regardless of the type of slacklining tensioning set up you plan on using.</p>

</div>

