<% provide(:title, "FAQ's") %>

<div class="row">
  <h1>Frequently Asked Questions</h1>
</div>

<div class="row">
  <h3>General Questions</h3>

  <h5 class="question">What is Slacklining?</h5>
  <p class="answer">Slacklining is a balancing sport consisting of a special rope/webbing attached between to two sturdy objects (usually trees) 20-50 feet apart. Rope walking, in all its forms, has been around for a countless number of years. However, the emergence of authentic slacklining began in the early 1980’s in California and is generally attributed to a couple of rock climbers who created the sport. The exact origin is unknown, but what began as “something to do” in between rock-climbing sessions grew into its own sport. Soon enough the slacklining bandwagon began. Many think slacklining is synonymous with tight rope walking, however, in the sport of slacklining the rope/webbing is not as taut as in tight-roping. Instead, the tautness of the webbing is variable and the control is all under the hands of the slackliners. Usually, slacklines are very dynamic almost similar to a trampoline and the webbing is flat which prevents the foot from rolling off of the webbing during usage. There are a wide variety of types of slacklining ranging from waterlining, urbanlining, tricklining, highlining all the way to yogalining. The difference between these types of slacklining is attributed to the area (environment)  in which the slackline is set up in, the thickness of the webbing used which affects the stretch and bounce of the slackline, and the tautness of the slacklining set up based on the tensioning system and the desired set up. The webbing is tightened using one of many tensioning systems via 3-6 carabiners. Adrenaline Slacklines sells kits with 4 carabiners, three for the tensioning system and one for one of the two anchors. See media tab for an in-depth explanation of set up.</p>

  <h5 class="question">How do You Properly Setup a Slackline?</h5>
  <p class="answer">There are a wide variety of methods to use when setting up a slackline. The system that Adrenaline Slacklines endorses, is via four carabiners. Three carabiners for the tensioning system and one for the anchor. See the Download Instruction Manual Here for diagrams and charts with detailed explanations.</p>


  <h5 class="question">Where Are the Best Locations to Setup My Slackline?</h5>
  <p class="answer">Again, depending on the equipment you have the optimum locations for slackline setup varies. You can set up a highline (in between two peaks for example), a waterline (over water), a trickline, and also a yogaline etc. If you decide to anchor between two trees please protect the tree by putting cardboard or something more durable in between the webbing and the tree. The basic Adrenaline Slackline kit will entail 70 feet of premium Adrenaline webbing (includes two 10 foot anchors which are used to station the slackline), four 100% steel non-locking black carabiners, and a black drawstring carry-pack with an Adrenaline logo on the back. E-mail us or visit the website if you have more questions.</p>

  <h5 class="question">What Do I Do if I'm a Beginner?</h5>
  <p class="answer">Watch a lot of videos online, check out our quick “How to Slackline Guide”, and keep practicing! Your leg will tremble the first time you step on webbing. This is normal…it happens to every single person their first time. Your body will naturally learn to stop the tremble if you give it an hour or two. It’s not easy at first, but then again what else is perfectly easy the first time you try it. Just keep at it and you’ll be walking the line in no time.</p>

  <hr>

</div>
