<% provide(:title, "FAQ's") %>

<div class="row">
  <h1>Frequently Asked Questions</h1>
</div>

<div class="row">
  <h3>General Questions</h3>

  <h5>What is Slacklining?</h5>
  <p>Slacklining is a balancing sport consisting of a special rope/webbing attached between to two sturdy objects (usually trees) 20-50 feet apart. Rope walking, in all its forms, has been around for a countless number of years. However, the emergence of authentic slacklining began in the early 1980’s in California and is generally attributed to a couple of rock climbers who created the sport. The exact origin is unknown, but what began as “something to do” in between rock-climbing sessions grew into its own sport. Soon enough the slacklining bandwagon began. Many think slacklining is synonymous with tight rope walking, however, in the sport of slacklining the rope/webbing is not as taut as in tight-roping. Instead, the tautness of the webbing is variable and the control is all under the hands of the slackliners. Usually, slacklines are very dynamic almost similar to a trampoline and the webbing is flat which prevents the foot from rolling off of the webbing during usage. There are a wide variety of types of slacklining ranging from waterlining, urbanlining, tricklining, highlining all the way to yogalining. The difference between these types of slacklining is attributed to the area (environment)  in which the slackline is set up in, the thickness of the webbing used which affects the stretch and bounce of the slackline, and the tautness of the slacklining set up based on the tensioning system and the desired set up. The webbing is tightened using one of many tensioning systems via 3-6 carabiners. Adrenaline Slacklines sells kits with 4 carabiners, three for the tensioning system and one for one of the two anchors. See media tab for an in-depth explanation of set up.</p>

  <hr>

</div>
