<% provide(:title, 'Home') %>

<h1>ContentPages#home</h1>
<p>Find me in app/views/content_pages/home.html.erb</p>

<ul>
 <li> <%= link_to "Athletes", athletes_path %> </li>
 <li> <%= link_to "About", about_path %> </li>
 <li> <%= link_to "About the Sport", about_sport_path %> </li>
 <li> <%= link_to "Disclaimer", disclaimer_path %> </li>
</ul>
