<% provide(:title, 'Home') %>


<div class="hero-container">
  <!-- <img src="https://s3.amazonaws.com/adrenalineslacklines/hero.large.jpg"> -->
  <div class="row">
    <div class="hero-text">
      <h1>Defy Gravity</h1>
      <p>Discover top of the line slacklining gear</p>
    </div>
    <div class="blue-button">
      <a href="#">Shop Now</a>
    </div>
  </div>
</div>


<h1>ContentPages#home</h1>
<p>Find me in app/views/content_pages/home.html.erb</p>

<ul>
 <li> <%= link_to "Athletes", athletes_path %> </li>
 <li> <%= link_to "About", about_path %> </li>
 <li> <%= link_to "About the Sport", about_sport_path %> </li>
 <li> <%= link_to "Disclaimer", disclaimer_path %> </li>
</ul>
