/******************** PREFIXES *******************/
/*-----------------------------------------------*/
$prefixes: "-webkit-", "-moz-", "-o-", "-ms-";

/********************* COLORS ********************/
/*-----------------------------------------------*/
$adrenaline-red: #d2232a;
$adrenaline-blue: #0087d5;

$dark-grey: #212121;
$medium-grey: #2f2f2f;
$light-grey: #4f4f4f;

$background-grey: #e5e5e5;

$link-grey: #403f3f;

$black: #0e0e0e;
$white: #fff;

/********************* HOSTS *********************/
/*-----------------------------------------------*/
$cdn: "http://d1bjc4ympi20vo.cloudfront.net/";


/********************* APROPOS *******************/
/*-----------------------------------------------*/
$apropos-breakpoints: (medium, 768px), (large, 1024px);
