/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

// @import 'apropos';
@import "_variables";


/********************* MIXINS ********************/
/*-----------------------------------------------*/


// FONTS
@mixin open-sans-light {
  font-family: "open-sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin open-sans-regular {
  font-family: "open-sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin open-sans-bold {
  font-family: "open-sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin transitions($time, $position, $style) {
  @each $prefix in $prefixes{
    #{$prefix}transition: $time $position $style;
  }
}

/******************** HTML TAGS ******************/
/*-----------------------------------------------*/

body {
  border-top: 5px solid $adrenaline-red;
  color: $background-grey;
  @include open-sans-light;
}

/******************** HEADER *********************/
/*-----------------------------------------------*/

.logo {
  background: url($cdn + "logo.large.png") no-repeat left;
  display: block;
  width: 215px;
  margin: auto 1em;
  h1 {
    visibility: hidden;
  }
  // +apropos-bg-variants('logo.png', $generate-height: true);
}

.title-area {
  background: $black;
}

/******************** HERO **********************/
/*-----------------------------------------------*/
.hero-container {
  background: url($cdn + "hero.large.jpg") no-repeat;
  background-position: center 0;
  height: 450px;
  margin-bottom: 3px;
}

.hero-text {
  background: rgba(0,0,0, 0.4);
  width: 50%;
  padding: 1em;
  margin-top: 10%;
  h1, p {
    color: $white;
    @include open-sans-light;
  }
  p {
    font-size: 1.5em;
    // line-height: 1em;
  }
}

/******************* CAROUSEL ********************/
/*-----------------------------------------------*/
.overlay {
  background-color: rgba(0,0,0,0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
  @include transitions(0.1s, background, linear);
  &:hover {
    background-color: rgba(0,0,0,0.15);
  }
  img {
    // Set to absolute and -1 to stack overlay
    position: absolute;
    z-index: -1;
  }
  span {
    text-align: center;
    display: block;
    color: $white;
    @include open-sans-light;
  }
}

.carousel {
  border-bottom: 3px solid $adrenaline-red;
}


.grey-row {
  background: $background-grey;
  padding: 2em 0;
}

/****************** SHOP BANNER ******************/
/*-----------------------------------------------*/
.price, .buy-now, .product-description {
  color: $link-grey;

}

.price {
  @include open-sans-bold;
}

.buy-now {
  text-transform: uppercase;
  font-weight: 400;
  // font-size: 1em;
}

.product-description {
  font-size: 1em;
  @include open-sans-light;
}

/********************** NEWS *********************/
/*-----------------------------------------------*/

.news {
  background: $background-black;
}


/**************** GRID OVERRIDES *****************/
/*-----------------------------------------------*/
.full-width-row {
  // Add important tag to override precedence of .row
  max-width: 100% !important;
  @include open-sans-light;
}

.adjacent-column {
  padding: 0 !important;
}


/******************* BUTTONS *********************/
/*-----------------------------------------------*/
.blue-button {
  background: $adrenaline-blue;
  color: $white;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding: .5em 2em;
  @include open-sans-light;
  &:hover {
    background: $adrenaline-blue - 20;
    color: $white;
  }
}


/****************** UTIlITIES ********************/
/*-----------------------------------------------*/
.clear {
  margin-top: 2em;
}
