/*
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

// @import 'apropos';
@import "_variables";


/********************* MIXINS ********************/
/*-----------------------------------------------*/


// FONTS
@mixin open-sans-light {
  font-family: "open-sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin open-sans-regular {
  font-family: "open-sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin open-sans-bold {
  font-family: "open-sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
}


// UTILITIES
@mixin transitions($time, $position, $style) {
  @each $prefix in $prefixes{
    #{$prefix}transition: $time $position $style;
  }
}

@mixin borderRadius($radius) {
  @each $prefix in $prefixes {
    #{$prefix}border-radius: $radius;
  }
}

@mixin button($radius, $bgcolor) {
  background: $bgcolor;
  color: $white;
  // font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding: .5em 2em;
  display: block;
  margin-bottom: 1em;
  max-width: 250px;
  @include borderRadius($radius);
  @include open-sans-light;
  &:hover {
    background: $bgcolor - 20;
    color: $white;
  }
}

/******************** HTML TAGS ******************/
/*-----------------------------------------------*/

body {
  border-top: 5px solid $adrenaline-red;
  color: $background-grey;
  @include open-sans-light;
}

h1 {
  @include open-sans-light;
}

/******************** HEADER *********************/
/*-----------------------------------------------*/

.logo {
  background: url($cdn + "logo.large.png") no-repeat left;
  display: block;
  width: 215px;
  margin: auto 1em;
  h1 {
    visibility: hidden;
  }
  // +apropos-bg-variants('logo.png', $generate-height: true);
}

.title-area {
  background: $black;
}

/******************** HERO **********************/
/*-----------------------------------------------*/
@media screen and (max-width: 480px) {
  .hero-text {
    width: 90% !important;
  }
  .hero-button {
    width: 80%;
  }
}


@media (max-width: 940px) {
  .hero-text {
    text-align: center;
    width: 60%;
    margin: 10% auto 0 auto;
  }
  .hero-row {
    margin-left: 0;
  }
  .hero-button {
    margin: auto;
  }
}


.hero-container {
  background: url($cdn + "hero.large.jpg") no-repeat;
  background-position: center 0;
  height: 450px;
  margin-bottom: 3px;
}

.hero-row {
  margin-left: 10%;
}

.hero-text {
  background: rgba(0,0,0, 0.4);
  width: 50%;
  padding: 1em;
  margin-top: 10%;
  h1, p {
    color: $white;
    @include open-sans-light;
  }
  p {
    font-size: 1.5em;
  }
}

.hero-button {
  font-size: 1.5em;
}

/******************* CAROUSEL ********************/
/*-----------------------------------------------*/
.overlay {
  background-color: rgba(0,0,0,0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
  @include transitions(0.1s, background, linear);
  &:hover {
    background-color: rgba(0,0,0,0.15);
  }
  img {
    // Set to absolute and -1 to stack overlay
    position: absolute;
    z-index: -1;
  }
  span {
    text-align: center;
    display: block;
    color: $white;
    @include open-sans-light;
  }
}

.carousel {
  border-bottom: 3px solid $adrenaline-red;
}


.grey-row {
  background: $background-grey;
  padding: 2em 0;
}

/****************** SHOP BANNER ******************/
/*-----------------------------------------------*/
.price, .buy-now, .product-description {
  color: $link-grey;

}

.price {
  @include open-sans-bold;
}

.buy-now {
  text-transform: uppercase;
  font-weight: 400;
}

.product-description {
  font-size: 1em;
  @include open-sans-light;
}

@media only screen and (max-width: 750px) {
  .item-details {
    text-align: center;
  }
  .product-image {
    margin-left: 30%;
  }
}

/********************** NEWS *********************/
/*-----------------------------------------------*/

.news {
  background: $background-black;
  color: $white;
  overflow: hidden;
  h2, h3, p {
    color: $white;
    @include open-sans-light;
  }
  h2, h3 {
    font-size: 1.6em;
  }
  h2 {
    margin-left: 30px;
  }
  h3 {
    color: $text-gray;
    margin-top: 1em;
  }
  p {
    font-size: 0.8em;
    padding-bottom: 10px;
    border-bottom: 2px solid $medium-grey;
  }
}

.news-img {
  &:before {
    background-color: rgba(0,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
    @include transitions(0.1s, background, linear);
    position: absolute;
    z-index: 1001;
    // width: 100%;
    // height: 100%;
    &:hover {
      background-color: rgba(0,0,0,0.15);
    }
  }
}

.news-button {
  margin: 1em 30px;
  font-size: 0.8em;
}

.article {
  padding: 0 30px;
  margin-bottom: 2.5em;
}


.news-text {
  position: absolute;
  top: 0;
  left: 1em;
  h2, p {
    color: $white;
    @include open-sans-light;
  }
  h2 {
    margin-bottom: 0;
    font-size: 1.875em;
    float: right;
  }
}

.play {
  width: 50px;
  height: 50px;
  border: 3px solid $adrenaline-red;
  float: left;
  margin: 15px 10px;
  color: $white;
  font-size: 2em;
  text-align: center;
  padding-top: 5px;
  background: rgba(0,0,0,0.5);
  @include open-sans-light;
  @include borderRadius(50%);
  &:hover {
    color: $white;
    background: rgba(0,0,0,0.3);
    border: 3px solid $adrenaline-red+10;
  }
}


/******************* FAQ PAGE ********************/
/*-----------------------------------------------*/
.question {
  border-top: 2px solid $adrenaline-red;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.answer {
  display: none;
}




/******************* FOOTER **********************/
/*-----------------------------------------------*/
.footer-top {
  background: $footer-top;
  ul {
    color: $white;
    list-style-type: none;
    li {
      float: left;
      margin: .5em 5em .5em 2em;
      text-transform: uppercase;
    }
  }
}

.footer-main {
  background: $footer-main;
  &:first-child {
    // margin: 2em 4em 2em 2em;
  }
  ul {
    float: left;
    list-style-type: none;
    margin: 2em 4em 4em 2em;
  }
  a {
    color: $white;
  }
}

/**************** GRID OVERRIDES *****************/
/*-----------------------------------------------*/
.full-width-row {
  // Add important tag to override precedence of .row
  max-width: 100% !important;
  @include open-sans-light;
}

.adjacent-column {
  padding: 0 !important;
}


/******************* BUTTONS *********************/
/*-----------------------------------------------*/

.blue-button {
  @include button(0, $adrenaline-blue);
}
.red-button {
  @include button(0, $adrenaline-red);
}
.center-button {
  margin: 1em auto;
}

/****************** SITE WIDE ********************/
/*-----------------------------------------------*/
.body-image {
  border: 1px solid $text-gray;
  padding: 5px;
  margin: 1em auto;
}

.bottom-column {
  margin-bottom: 2em;
}


/****************** UTIlITIES ********************/
/*-----------------------------------------------*/
.clear {
  margin-top: 2em;
  margin-bottom: 2em;
}


@media screen and (max-width: 1050px) {
  #clear {
    padding: 0 1em;
  }
  .title {
  font-size: 1.8em;
    padding: 0 13px;
  }

}

#clear {
  margin: 1em auto;
}




